@font-face {
    font-family: 'Samsung Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Samsung Sans Regular'), url('img/SamsungSans-Regular.woff') format('woff');
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: linear-gradient(80deg, #0D1DB7,#357E9E 80%);
    /* background: linear-gradient(80deg, #00480D, rgb(37, 138, 53) 80%); */
    font-family: 'Samsung Sans Regular';
}

.title {
    font-size: 3rem;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    height: 80px;
    z-index: 2;
    background: linear-gradient(#FACB4C, #DED6BF 70%, #FFBA00 110%);
    /* background: linear-gradient(#AA6F39, #D0A57D 70%, #AA6F39 110%); */
    border-bottom: 2px solid #070D48;
    border-bottom: 2px solid #000000;
    box-shadow: 0px 5px 5px #00000050;
    top: 0;
}

h1.title {
    font-family: 'Frijole', cursive;
    font-weight: 100;
    text-shadow: 4px 4px 4px rgb(48, 85, 48);    
    font-size: 2.2rem;
}

.left, .right {
    flex: 1;
}

.cgy-img {
    max-width: 80px;
    max-height: 80px;
    display: block;
}

.date {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    z-index: 1;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    height: 300px;
    width: 300px;
    padding: 1em;
    border: 2px solid #070D48;
    /* border: 2px solid #000000; */
    border-radius: 5%;
    box-shadow: 5px 5px 5px #00000059;
    background: url('img/bg-card.jpg') center;
    margin: 1em;
    transition: all .2s ease-in-out;
}

p.push {
    margin-top: auto;
    font-size: 1.2rem;;
}

.card:hover {
    transform: scale(1.02) rotate(.5deg);
}

.cardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 1rem;
}

.cardImg {
    width: auto;
    height: auto;
    max-width: 250px;
    max-height: 200px;
    background: white;
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 5px 5px 5px #00000059;
    margin-top: auto;
}

/* All @media must fall below styles above */

@media screen and (max-width: 800px) {
    h1.title {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    h1.title {
        font-size: 1rem;
    }
}

@media screen and (max-width: 450px) {
    .card {
        display: flex;
        justify-content: center;
        font-size: 0.6rem;
        max-height: 137px;
        max-width: 137px;
    }    
    img.cardImg {
        max-width: 70%;
        max-height: 70%;
    }
    p.push {
        font-size: 0.6rem;
    }
=======
.gMap {
    width: 100%;
    overflow: hidden;
    height: 30vh;
    transition: 1s;
}

.gMap:hover {
    height: 50vh;
    transform: translateY(-20vh);
}

#iframeMap {
    border:0;
    margin-top: -50px;
    transition: 1s;
}

#iframeMap:hover {
    border:0;
    margin-top: 0px;
}

